#root {
    position: absolute;
    top: 0;
    left: 0;
}

#my-name {
    font-size: 48px;
}

#greeting {
    font-size: 24px
}

#img-me {
    width: 30%;
    height: auto;
    position: relative;
}

#nav-bar {
    position: sticky;
    z-index: 1;
    top: 0px;
    text-align: center;
    font-size: 18pt;
    border-style: double;
    border-color: white;
    /* border-radius: 16px; */
    padding: 8px;
    /* margin-inline: 128px; */
    /* opacity: 0.97; */
}

#heading-card {
    text-align: center;
    color: white;
    font-family: monospace;
}

body {
    overflow-x: hidden;
}

body {
    overflow-y: scroll;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
}

/* For WebKit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

canvas {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
}