#root {
    font-family: monospace;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #212529
}

#greeting {
    font-size: 24px;
}

#img-me {
    width: 25%;
}

#nav-bar {
    position: sticky;
    z-index: 1;
    top: 0px;
    text-align: center;
    font-size: 18pt;
    border-style: double;
    border-color: white;
    /* width: 100%; */
    /* border-radius: 16px; */
    padding: 8px;
    /* margin-inline: 128px; */
    /* opacity: 0.97; */
}

#heading-card {
    text-align: center;
    color: white;
    font-family: monospace;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: transparent transparent; /* For Firefox */
}

/* For WebKit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
    width: 0px;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.heading {
  text-align: center;
}

.skills-tile {
  background-color: rgba(180, 233, 161, 0.03);
  padding: 10px 10px 5px;
  width: 100px;
  margin: 5px 0;
  border-radius: 8px;
}

.dark-mode {
    /* background-color: #0F0F0F; */
    color: white;
    font-family: monospace;
}

.filter-invert {
    filter: invert(100%);
}

.inactive {
  opacity: 0.5;
}

/* .filter-green {
    filter: invert(55%) sepia(66%) saturate(3569%) hue-rotate(85deg) brightness(119%) contrast(100%);
} */

.social-icon {
    width: 32px;
    height: 32px;
    margin-inline: 8px;
}

.card-view {
    border-radius: 8px;
    padding-block: 16px;
    margin-inline: 32px;
    margin-block: 32px;
    opacity: 0.97;
}

.project-dialog {
    /* position: relative;  */
    display: inline-table; 
    margin: 8px; 
    border-color: white; 
    border-style: solid; 
    border-radius: 16px; 
    font-size: 12pt;
    padding: 16px;
    width: 300px;
    height: 150px;
    word-wrap: normal;
}

.bottom-text {
   color: white;
   text-align: center;
   font-family: monospace;
   font-size: 12pt;
   margin-bottom: 32px;
   bottom: 0;
}



.loader-wrapper {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /* background-color: #242F3F; */
    background-color: #1c2431;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}