#my_name {
    font-size: 40px;
}

#greeting {
    font-size: 24px
}

#img_me {
    width: 18%;
    height: auto;
}

.nav_bar_item {
    font-size: 24px;
    position: relative;
    border: 0px;
    width: 200px;
}

.fade_in {
    opacity: 0;
}

.dark_mode {
    background-color: #0a192f;
    color: white;
    font-family: monospace;
}

body {
    text-align: center;
}