body {
  font-family: monospace;
}

.social-icon {
  margin: 16px;
  width: 48px;
  height: 48px;
}

.skills-tile {
  font-size: 0.8rem;
  background-color: rgba(180, 233, 161, 0.03);
  padding: 8px 8px 0px 8px;
  width: 120px;
  border-radius: 8px;
  box-shadow: 4px 2px 4px #000000;
}

.card {
  box-shadow: 4px 2px 4px #000000;
}

.cursor {
  display: inline-block;
  width: 1ch;
}
